.container {
  margin-top: 5%;
}

h2 {
  color: #007bff;
  font-weight: bold;
}

.form-control {
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.alert {
  font-size: 0.9rem;
}

/* styles.css o login.component.css */
.full-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/iot_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flow-root;
  justify-content: center;
  align-items: center;
}
