<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 180px; border-radius: 0px 0px 5px 0px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/welcome" routerLinkActive="active-link"><i
          class="fa-solid fa-house"></i> Bienvenida</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/operador" routerLinkActive="active-link"><i class="fa-solid fa-sim-card"></i>
        operador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/vendedor" routerLinkActive="active-link"><i class="fa-solid fa-handshake"></i>
         vendedor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/recarga" routerLinkActive="active-link"><i class="fa-solid fa-money-check-dollar"></i>
         recarga</a>
    </li>
  </ul>
</div>
